body {
  align-items: center;
  background-color: white;
  color: black;
  /* display: flex; */
  /* flex-flow: column wrap; */
  font-family: Arial, "Herlvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  justify-content: center;
  max-width: 70vw;
  width: 1000px;
  margin: auto;
  padding: 1rem;
}

@media (max-width: 1000px) {
  body {
    max-width: 95vw
  }
}

.root {
  width: 100%;
}

p { word-break: break-all }

.complete {
  background-color: #4BB543 !important;
}

.edit-form{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.todo {
  transition: .5s;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  border-radius: 10px;
  background-color: #c0fefc;
  margin: 0.2rem 0.3rem;
  padding: 0.5rem;
  align-items: center;
  max-width: 20rem;
}

.todo p {
  padding-right: 0.5rem;
}

.todo:hover {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 7px 7px 10px 4px rgba(0,0,0,0.12); 
  box-shadow: 0px 10px 13px -7px #000000, 7px 7px 10px 4px rgba(0,0,0,0.12);
}

.todo-form {
  display: flex;
  flex-flow: column nowrap;
}